img.hinhAnh{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.custom-btn {
    width: 350px;
    height: 80px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
/* 7 */
.btn-welcome {
    background: linear-gradient(0deg, #ff99cc 0%, #ff3399 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-welcome span {
    /*  position: relative;
      display: block;*/
      width: 100%;
      height: 100%;
      height: 40px;
      font-size: 25px;
    }
    .btn-welcome:before,
    .btn-welcome:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background:  #ff66b3;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-welcome:before{
       height: 0%;
       width: 2px;
    }
    .btn-welcome:after {
      width: 0%;
      height: 2px;
    }
    .btn-welcome:hover{
      color:  #ff66b3;
      background: transparent;
    }
    .btn-welcome:hover:before {
      height: 100%;
    }
    .btn-welcome:hover:after {
      width: 100%;
    }
    .btn-welcome span:before,
    .btn-welcome span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background:  #ff66b3;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-welcome span:before {
      width: 2px;
      height: 0%;
    }
    .btn-welcome span:after {
      height: 2px;
      width: 0%;
    }
    .btn-welcome span:hover:before {
      height: 100%;
    }
    .btn-welcome span:hover:after {
      width: 100%;
    }

.introMinh1{
    border: 7px solid #F5C6AA;
    padding: 10px;
    margin: 10px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.introMinh2{
    border: 7px solid #FDF6F0;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.introMinh3{
    border: 7px solid #FF87CA;
    padding: 10px;
    margin: 10px;
    background-color: #F8E2CF;
    font-family: 'Rubik', sans-serif;
}